extends index 

block content
    .deletePage 
        h2 Delete this post?

        div(class="post")
          div(class="messageHeader")
            h4 #{message.user.username}
            p - #{message.edited_date}
          h3 #{message.title}
          p #{message.text}

        div(class="cancelDeleteWrapper")
            a(href="/") Cancel

            form(method="POST" action="")
                .messageDeleteFormGroup
                    input#messageDelete(type="hidden" name="deleteMessage" required="true" value=message._id)
                button(type="submit" class="deleteBtn") Delete