extend layout 

block content 
  h1 Messages
  
  .homepage
    if user && user.member === true
      div 
        each message in all_messages
          div(class="fullMemberMessageView")
            div
              h4 #{user.fullName}
              p #{message.timestamp}
              if user.admin === true 
                button(type="submit" class="deleteBtn") Delete
            h3 #{message.title}
            p #{message.text}
          
    else if user && user.member === false
      div 
        each message in all_messages
          div(class="memberMessageView")
            h3 #{message.title}
            p #{message.text}
            span Become a full member to see who wrote this post
    else 
      div 
        each message in all_messages
          div(class="visitorMessageView")
            h3 #{message.title}
            p #{message.text}
            span Become a full member to see who wrote this post

