doctype html
html
  head
    title onlyMembers
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet", href="/stylesheets/header.css")
    link(rel='stylesheet', href='/stylesheets/homepage.css')
    link(rel='stylesheet', href='/stylesheets/login-page.css')
    link(rel='stylesheet', href='/stylesheets/signup-page.css')
    link(rel='stylesheet', href='/stylesheets/join-club-page.css')
    link(rel='stylesheet', href='/stylesheets/admin-add-page.css')
    link(rel='stylesheet', href='/stylesheets/new-post-page.css')
    link(rel='stylesheet', href='/stylesheets/delete-page.css')
  body
    div(class="app")
      header(class="header")
        a(href="/")  onlyMembers

        if currentUser && (currentUser.member === true || currentUser.admin === true)
          nav 
            a(href="/post" class="stylusLink")
              svg(
                fill="#2b4248" 
                width="24" 
                viewBox="0 -960 960 960" 
                height="24" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M167-120q-21 5-36.5-10.5T120-167l40-191 198 198-191 40Zm191-40L160-358l458-458q23-23 57-23t57 23l84 84q23 23 23 57t-23 57L358-160Zm317-600L261-346l85 85 414-414-85-85Z"
                  )
            a(href="/logout") Log Out
        else if currentUser && currentUser.member === false 
          nav 
            a(href="/post" class="stylusLink")
               svg(
                fill="#2b4248" 
                width="24" 
                viewBox="0 -960 960 960" 
                height="24" 
                xmlns="http://www.w3.org/2000/svg"
                )
                path(
                  d="M167-120q-21 5-36.5-10.5T120-167l40-191 198 198-191 40Zm191-40L160-358l458-458q23-23 57-23t57 23l84 84q23 23 23 57t-23 57L358-160Zm317-600L261-346l85 85 414-414-85-85Z"
                  )
            a(href="/logout") Log Out 
        else
          nav 
            a(href="/login") Log In
            a(href="/signup") Sign Up
      div(class="main") 
        block content
