extends layout 

block content 
    .signUpPage
        h1 Sign Up

        form(method="POST" action="" class="signUpForm")
            .signUpFormGroup 
                div
                    label(for="firstName") First Name
                    input#firstName(type="text" name="first_name" required=true value=(undefined===user? "" : user.first_name))    
                    if(errors)
                     for error in errors
                         if (error.path=='first_name')
                            span(class="errorMsg") #{error.msg}
                            - break 
                div 
                    label(for="secondName") Last Name 
                    input#secondName(type="text" name="second_name" required=true value=(undefined===user? "" : user.second_name))
                    if(errors)
                     for error in errors
                         if (error.path=='second_name')
                            span(class="errorMsg") #{error.msg}
                            - break 
            .signUpFormGroup 
                div 
                    label(for="email") Email Address
                    input#email(type="email" name="email" required=true value=(undefined===user? "" : user.email))  
                    if(errors)
                        for error in errors
                            if (error.path=='email')
                                span(class="errorMsg") #{error.msg}
                                - break 
            .signUpFormGroup
                div
                    label(for="password") Password
                    input#password(type="password" name="password", required=true value=(undefined===user ? "" : user.password))  
                    if(errors)
                        for error in errors
                            if (error.path=='password')
                                span(class="errorMsg") #{error.msg}
                                - break 
                div
                    label(for="passwordConfirmation") Confirm Password
                    input#passwordConfirmation(type="password" name="password_confirmation" required=true value="")  
                    if(errors)
                        for error in errors
                            if (error.path=='password_confirmation')
                                span(class="errorMsg") #{error.msg}
                                - break 
            button(type="submit" class="signUpBtn") Sign Up